# ! --- 1. Игнорируем абсолютно всё по умолчанию
# ! --------------------------------------------
*

# ! --- 2. Разрешаем Git наблюдать за любыми папками
# ! ------------------------------------------------
!*/
!**/

# ! --- 3. Разрешаем проверять только конкретные расширения
# ! -------------------------------------------------------
# * GIT FILES
# !**/*.gitkeep
!**/*.gitignore
# !**/*.gitattributes

# * SERVICE FILES
# !**/*.browserslistrc
# !**/*.editorconfig

# * IGNORE FILES
# !**/*.dockerignore
# !**/*.prettierignore
# !**/*.stylelintignore

# * CSS | SCSS | SASS
!**/*.css
# !**/*.scss
# !**/*.sass

# * JS | TS
!**/*.js
!**/*.cjs
!**/*.mjs
# !**/*.ts
# !**/*.cts
# !**/*.mts

# * GULP
# !gulpfile.js
# !**/gulp/**/*.js

# * HTML | NUNJUCKS
!**/*.html
# !**/*.nj
# !**/*.njk
# !**/*.nunjucks

# * JSON | YAML
!**/*.json
!**/*.webmanifest

# !**/*.yml
# !**/*.yaml

# * XML | SVG
!**/*.xml
!**/*.svg

# * MEDIA
!**/*.ico
!**/*.gif

!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.avif
!**/*.webp

!**/*.mp3
!**/*.mp4
!**/*.webm

# * FONTS
!**/*.eot
!**/*.otf
!**/*.ttf
!**/*.woff
!**/*.woff2

# * MARKDOWN | LICENSE
# !**/*.md
# !**/LICENSE

# * OTHER
!**/*.txt

# * MAPS
# !**/*.map

# ! --- 4. Папки и подпапки под запретом
# ! ------------------------------------
**/.husky/

**/.vscode/

**/node_modules/
**/vendors/

**/out/
**/dist/
**/build/

**/archive/
**/public/

**/backup/
**/old/

# ! --- 5. Файлы под запретом
# ! -------------------------
out.txt
