# Ignore node_modules/ folder
node_modules/

# Ignore .vscode/ folder
.vscode/

# Ignore all CSS files and folders
css/

*.min.css
*.min.css.map

*.css
*.css.map

# Ignore some TypeScript files
*.d.ts
*.d.ts.map

# Ignore *.tsbuildinfo files
*.tsbuildinfo

# Ignore all JS files and folders
js/

*.js
*.js.map

# Ingore some fonts files
*.otf
*.ttf

# Ignore all build folders
dist/
build/

# Ignore original/ folder
original/

# Ignore old/ folder
old/
