# Default | For all text files
*           text eol=lf

# Source Files | Design Files (Figma + Adobe Photoshop)
*.fig       binary
*.psd       binary
*.psb       binary

# Images | Raster Images
*.gif       binary

*.png       binary
*.jpg       binary
*.jpeg      binary
*.webp      binary
*.avif      binary

*.ico       binary

# Images | Vector Images
*.svg       text eol=lf

# Media | Audio & Video
*.mp3       binary
*.mp4       binary
*.webm      binary

*.mov       binary
*.avi       binary
*.mkv       binary
*.flv       binary
*.m4v       binary

# Fonts
*.eot       binary
*.otf       binary
*.ttf       binary
*.woff      binary
*.woff2     binary

# Docs
*.pdf       binary

# Archives
*.zip       binary
*.rar       binary
*.tar       binary
*.tar.gz    binary
*.7z        binary
*.gz        binary
*.tgz       binary
