# ! --- 1. Игнорируем абсолютно всё по умолчанию
# ! --------------------------------------------
*

# ! --- 2. Разрешаем Prettier заходить в любые папки
# ! ------------------------------------------------
!/*/
!**/

# ! --- 3. Разрешаем форматировать только конкретные расширения
# ! -----------------------------------------------------------

# * CSS | SCSS | SASS
!**/*.css
!**/*.scss
!**/*.sass

# * JS | TS
# !**/*.js
# !**/*.cjs
# !**/*.mjs

!**/*.config.js
!**/*.config.cjs
!**/*.config.mjs

!**/*.ts
!**/*.cts
!**/*.mts

# * GULP
!gulpfile.js
!**/gulp/**/*.js

# * HTML | NUNJUCKS
!**/*.html
!**/*.nj
!**/*.njk
!**/*.nunjucks

# * JSON | YAML
!**/*.json
!**/*.webmanifest

!**/*.yml
!**/*.yaml

# * XML | SVG
!**/*.xml
# !**/*.svg

# * MARKDOWN | LICENSE
!**/*.md
# !**/LICENSE

# * OTHER
!**/*.txt

# * MAPS
# !**/*.map

# ! --- 4. Папки и подпапки под запретом
# ! ------------------------------------
# **/.vscode/
# **/.husky/

**/.git/
**/.svn/
**/.hg/

**/node_modules/
# **/vendors/

**/out/
**/dist/
**/build/

**/archive/
**/public/

**/backup/
**/old/

# ! --- 5. Файлы под запретом
# ! -------------------------
out.txt
