# Ignore all .vscode/ folders
**/.vscode

# Ignore all VCS/ folders
**/.git
**/.svn
**/.hg

# Ignore all node_modules/ folders
**/node_modules

# Ignore all vendors/ folders
**/vendors

# Ignore all build/ and dist/ folders
**/build
**/dist

# Ignore all assets/ folders
**/assets

# Ignore all CSS folders
**/css

# Ignore all CSS files
*.css
*.css.map

# Ignore all JS folders
**/js

# Ignore all JS source files
*.js
*.js.map

*.cjs
*.cjs.map

*.mjs
*.mjs.map

# Allow some JS files
!*.config.js
!*.config.cjs
!*.config.mjs
