// @use '../abstract/mixins' as *;
@use '../base/typography' as *;

.block-header {
    display: flex;
    flex-direction: column;

    // &__header {
    //     // * nothing
    // }

    &__tagline {
        @include poppins--14px;

        line-height: 1.429em;
        letter-spacing: 0.143em;

        // line-height: 20px;
        // letter-spacing: 2px;

        color: #645c55;
        text-transform: uppercase;
    }

    &--hero {
        // row-gap: 20px;
        row-gap: clamp(8px, 1.388vw, 20px);
        // @include fluid-row-gap(8px, 1.388vw, 20px);

        .block-header__header {
            @include poppins--64px;

            // font-size: clamp(16px, 5vw, 64px);

            line-height: 1.09375em;

            // line-height: 70px;

            letter-spacing: 0;
            color: #1b1a1a;
        }

        // .block-header__tagline {
        //     @include poppins--64px;

        //     line-height: 70px;
        //     letter-spacing: 0;

        //     color: #1b1a1a;
        // }
    }

    &--our-firm {
        @include poppins--32px;

        // line-height: 38px;
        line-height: 1.1875em;
        letter-spacing: 0;
        color: #403e3b;
        display: inline;

        // * --- SAFE
        min-width: auto;
        min-width: fit-content; // stylelint-disable-line

        height: auto;
    }

    &--house-and-staircase {
        max-width: 285px;

        .block-header__header {
            @include poppins--14px;

            // line-height: 20px;
            // letter-spacing: 2px;

            line-height: 1.429em;
            letter-spacing: 0.143em;
            color: #403e3b;
            text-transform: uppercase;
        }

        .block-header__pg {
            @include poppins--16px;

            // line-height: 24px;
            line-height: 1.5em;
            letter-spacing: 0;
            color: #645c55;
        }
    }

    &--our-process {
        // row-gap: clamp(10px, 1.388vw, 20px);
        row-gap: clamp(8px, 0.868vw, 12.5px);
        // @include fluid-row-gap(8px, 0.868vw, 12.5px);
        text-align: center;

        .block-header__header {
            @include poppins--40px;

            line-height: 1.05em;
            letter-spacing: 0;
            text-wrap: nowrap;
            color: #1b1a1a;
        }
    }

    &--get-in-touch {
        max-width: 570px;
        text-align: left;

        row-gap: clamp(12px, 1.367vw, 14px);
        // @include fluid-row-gap(12px, 1.367vw, 14px);

        .block-header__header {
            @include poppins--40px;

            line-height: 1.05em;
            letter-spacing: 0;
            color: #1b1a1a;
        }

        // ? --- BOOTSTRAP SMALL ---
        // ? -----------------------
        @media (max-width: 576px) {
            text-align: center;
        }

        // //? --- MOBILE ---
        // //? --------------
        // @media (max-width: 425px) {
        //     text-align: center;
        // }
    }

    &--prior-clients {
        text-align: left;

        .block-header__header {
            @include poppins--32px;

            line-height: 1.1875em;
            letter-spacing: 0;
            color: #fff;
        }

        .block-header__tagline {
            color: #ece7e4;
        }

        // ? --- LAPTOP ---
        // ? --------------
        @media (max-width: 1024px) {
            row-gap: clamp(8px, 0.694vw, 10px);
            // @include fluid-row-gap(8px, 0.694vw, 10px);
            text-align: center;
        }
    }

    &--featured-projects {
        text-align: left;
        row-gap: 16px;

        .block-header__header {
            @include poppins--40px;

            line-height: 1.05em;
            letter-spacing: 0;
            color: #1b1a1a;
        }

        .block-header__pg {
            @include poppins--24px;

            line-height: 1.25em;
            letter-spacing: 0;
            color: #645c55;
            max-width: 584px;
        }
    }

    &--meet-our-team {
        text-align: left;

        // row-gap: 14px;
        row-gap: clamp(12px, 1.367vw, 14px);
        // @include fluid-row-gap(12px, 1.367vw, 14px);

        .block-header__header {
            @include poppins--32px;

            line-height: 1.1875em;
            letter-spacing: 0;
            color: #403e3b;
        }

        .block-header__pg {
            @include poppins--16px;

            line-height: 1.5em;
            letter-spacing: 0;
            color: #645c55;
            max-width: 374px;
        }

        // ? --- LAPTOP ---
        // ? --------------
        @media (max-width: 1024px) {
            // row-gap: clamp(8px, 0.694vw, 10px);
            text-align: center;

            .block-header__pg {
                max-width: 100%;
            }
        }

        // //? --- MOBILE ---
        // //? --------------
        // @media (max-width: 425px) {
        //     text-align: left;
        // }
    }
}
