@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;

.button-link {
    @include poppins--16px;
    font-size: clamp(14px, 14 / 1024 * 100vw, 16px);

    // font-size: clamp(12px, 5vw, 16px);

    display: block;
    letter-spacing: 0.025em;
    line-height: 1.5em;

    // * safe
    max-width: 100%;
    max-width: max-content; /* stylelint-disable-line */

    // * safe
    max-height: 100%;
    max-height: max-content; /* stylelint-disable-line */

    // letter-spacing: 0.4px;
    // line-height: 24px;

    background-color: #1b1a1a;

    color: #fff;
    text-decoration: none;

    border-radius: 0.875em;
    padding: 0.6875em 1.25em;

    // border-radius: 14px;
    // padding: 11px 20px;

    cursor: pointer;
    will-change: transform;
    transform: translateZ(0);
    transition: transform 300ms ease-in-out;

    // ? --- TABLET ---
    // ? --------------
    @media (max-width: 768px) {
        transition: transform 100ms ease-out;
    }

    backface-visibility: hidden;
    text-wrap-mode: nowrap;
    text-align: center;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    -webkit-tap-highlight-color: transparent;

    // transform-origin: 50% 50%;

    // backface-visibility: hidden;
    // transform-style: preserve-3d;
    // transform: translateZ(0);
    // transform: perspective(1px);

    &--mobile {
        max-width: none;
        width: 100%;

        // ? --- TABLET ---
        // ? --------------
        @media (max-width: 768px) {
            // @include fluid-font(14px, calc(0.012 * 100vw + 9.044px), 18px);
            font-size: clamp(14px, 0.012 * 100vw + 9.044px, 18px);
        }
    }

    @media (hover: hover) {
        &:hover {
            transform: scale(1.025);
        }
    }

    &:active {
        transform: scale(1.0125);
    }

    &--hero {
        max-width: 100%;
        max-width: max-content; // stylelint-disable-line

        max-height: 100%;
        max-height: max-content; // stylelint-disable-line

        padding: 0.6875em 1.25em;

        // padding: 11px 20px;

        border-radius: 0;
        border: solid transparent 0.25em;

        // border: solid transparent 4px;

        background-color: transparent;
        color: #1b1a1a;
        transition:
            transform 300ms ease-in-out,
            border-color 300ms ease-in-out;

        // ? --- TABLET ---
        // ? --------------
        @media (max-width: 768px) {
            transition:
                transform 100ms ease-out,
                border-color 100ms ease-out;
        }

        @media (hover: hover) {
            &:hover {
                transform: scale(1.025);
                border-color: #1b1a1a;
            }

            &:active {
                transform: scale(1.025);
            }
        }

        @media (hover: none) {
            &:active {
                transform: scale(1.025);
                border-color: #1b1a1a;
            }
        }
    }

    // &--card {
    // }
}

// //? --- LAPTOP ---
// //? --------------
// @media (max-width: 1024px) {
//     .button-link {
//         @include poppins--18px;

//         // padding: 10px 18px;
//         // border-radius: 14px;
//     }
// }

// //? --- TABLET ---
// //? --------------
// @media (max-width: 768px) {
//     .button-link {
//         // @include poppins--18px;

//         // padding: 12px 22px;
//         // border-radius: 16px;

//         &--card {
//             @include poppins--14px;
//         }
//     }
// }
