@use "../base/colors";
@use "../base/typography";

.button-link {
    @include typography.poppins--16px;
    // font-size: clamp(12px, 5vw, 16px);

    display: block;

    max-width: max-content;
    max-height: max-content;

    letter-spacing: 0.4px;
    line-height: 24px;

    background-color: #1b1a1a;
    color: #fff;

    border-radius: 14px;
    padding: 11px 20px;

    cursor: pointer;

    will-change: transform;
    transform: translateZ(0);

    transition: transform 0.3s ease-in-out;

    backface-visibility: hidden;

    text-wrap-mode: nowrap;
    text-align: center;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    // transform-origin: 50% 50%;

    // backface-visibility: hidden;
    // transform-style: preserve-3d;
    // transform: translateZ(0);
    // transform: perspective(1px);

    &--mobile {
        max-width: none;
        width: 100%;
    }

    @media (hover: hover) {
        &:hover {
            transform: scale(1.025);
        }
    }

    &:active {
        transform: scale(1.0125);
    }

    &--hero {
        max-width: max-content;
        max-height: max-content;

        padding: 11px 20px;

        border-radius: 0;
        border: solid transparent 4px;

        background-color: transparent;
        color: #1b1a1a;

        transition:
            transform 0.3s ease-in-out,
            border-color 0.3s ease-in-out;

        @media (hover: hover) {
            &:hover {
                transform: scale(1.025);
                border-color: #1b1a1a;
            }
        }

        &:active {
            transform: scale(1.025);
        }
    }
}

//? --- LAPTOP ---
//? --------------
@media (max-width: 1024px) {
    .button-link {
        @include typography.poppins--14px;

        padding: 10px 18px;
        // border-radius: 14px;
    }
}

//? --- TABLET ---
//? --------------
@media (max-width: 768px) {
    .button-link {
        @include typography.poppins--18px;

        padding: 12px 22px;
        border-radius: 16px;
    }
}
