@use '../base/typography' as *;
@use '../base/mixins' as *;

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;

    &__img {
        // position: absolute;
        // z-index: -1;

        // inset: 0;
        // object-fit: cover;

        will-change: transform;
        transition: transform 300ms ease-in-out;

        // ? --- TABLET ---
        // ? --------------
        @media (max-width: 768px) {
            transition: transform 100ms ease-out;
        }

        transform: translateZ(0);
        backface-visibility: hidden;
    }

    &__header {
        @include poppins--18px;

        line-height: 1.444em;
        letter-spacing: 0;
        color: #403e3b;

        // margin-top: 15px;
        margin-top: 1.2em;
    }

    &__pg {
        @include poppins--16px;

        line-height: 1.5em;
        letter-spacing: 0;
        color: #645c55;

        // margin-top: 10px;
        margin-top: 0.625em;
        max-width: 300px;
    }

    @media (hover: hover) {
        &:hover {
            .card__img {
                transform: scale(1.05);
            }
        }
    }

    @media (hover: none) {
        &:active {
            .card__img {
                transform: scale(1.05);
            }
        }
    }

    &--project {
        position: relative;
        text-align: left;

        // 1 element in last row
        &:last-child:nth-child(3n + 1) {
            grid-column: 1 / -1;
        }

        // 2 elements in last row
        &:nth-last-child(2):nth-child(3n + 1),
        &:last-child:nth-child(3n + 2) {
            grid-column: 1 / -1;
        }

        // $result: calc(256px * 3 + 32px);
        @media (max-width: 1004px) {
            &:last-child:nth-child(3n + 1),
            &:nth-last-child(2):nth-child(3n + 1),
            &:last-child:nth-child(3n + 2) {
                grid-column: auto;
            }

            &:last-child:nth-child(odd) {
                grid-column: 1 / -1;
            }
        }

        .card__content {
            // position: absolute;

            // top: 0;
            // left: 0;

            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            // row-gap: 280px;
            // row-gap: clamp(48px, 0.229 * 100vw - 49.143px, 280px);
            @include fluid-row-gap(48px, calc(0.229 * 100vw - 49.143px), 280px);
            justify-content: space-between;

            // * --- SAFE
            // padding: 40px;
            // padding: clamp(16px, 0.038 * 100vw - 6.154px, 40px);
            @include fluid-padding(16px, calc(0.038 * 100vw - 6.154px), 40px);

            opacity: 0.6;
            will-change: opacity;
            transition: opacity 300ms ease-in-out;

            // ? --- TABLET ---
            // ? --------------
            @media (max-width: 768px) {
                transition: opacity 100ms ease-out;
            }

            transform: translateZ(0);
            backface-visibility: hidden;
        }

        // .card__header-block {
        //     //* NOTHING
        // }

        .card__header {
            @include poppins--24px;

            line-height: 1.25em;
            letter-spacing: 0;
            color: #403e3b;
            margin-top: 0;
        }

        .card__tagline {
            @include poppins--14px;

            line-height: 1.429em;
            letter-spacing: 0.143em;
            color: #645c55;
            text-transform: uppercase;
        }

        .card__img {
            position: absolute;
            z-index: -1;

            // * --- SAFE
            @supports not (inset: 0) {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0; // stylelint-disable-line
            }
            inset: 0; // stylelint-disable-line

            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            opacity: 0.78;
            will-change: transform, opacity;
            transition:
                transform 300ms ease-in-out,
                opacity 300ms ease-in-out;

            // ? --- TABLET ---
            // ? --------------
            @media (max-width: 768px) {
                transition:
                    transform 100ms ease-out,
                    opacity 100ms ease-out;
            }

            transform: translateZ(0);
            backface-visibility: hidden;
        }

        will-change: transform;
        transition: transform 300ms ease-in-out;

        // ? --- TABLET ---
        // ? --------------
        @media (max-width: 768px) {
            transition: transform 100ms ease-out;
        }

        transform: translateZ(0);
        backface-visibility: hidden;

        @media (hover: hover) {
            &:hover {
                .card__content {
                    opacity: 1;
                }

                .card__img {
                    transform: scale(1.0125);
                    opacity: 1;
                }
            }
        }

        @media (hover: none) {
            .card__content {
                opacity: 1;
            }

            .card__img {
                opacity: 1;
            }

            &:active {
                .card__img {
                    transform: scale(1.0125);
                }
            }
        }
    }
}

// //? --- BOOTSTRAP SMALL ---
// //? -----------------------
// @media (max-width: 576px) {
//     .card {
//         &--project {
//             max-width: 375px;
//         }
//     }
// }
