@use "../base/typography";

.card {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: start;

    text-align: center;

    &__img {
        transition: transform 0.3s ease-in-out;
        will-change: transform;

        transform: translateZ(0);
        backface-visibility: hidden;
    }

    &__header {
        @include typography.poppins--18px;

        line-height: 26px;
        letter-spacing: 0;

        color: #403e3b;

        margin-top: 15px;
    }

    &__pg {
        @include typography.poppins--16px;

        line-height: 24px;
        letter-spacing: 0;

        color: #645c55;

        margin-top: 10px;

        max-width: 300px;
    }

    @media (hover: hover) {
        &:hover {
            .card__img {
                transform: scale(1.05);
            }
        }
    }

    &--project {
        // width: 100%;

        position: relative;
        text-align: left;

        .card__content {
            position: absolute;

            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;

            justify-content: space-between;

            padding: 40px;
            opacity: 0;

            transition: opacity 0.3s ease-in-out;
            will-change: opacity;

            transform: translateZ(0);
            backface-visibility: hidden;
        }

        .card__header-block {
            //* NOTHING
        }

        .card__header {
            @include typography.poppins--24px;

            line-height: 30px;
            letter-spacing: 0;

            color: #403e3b;

            margin-top: 0;
        }

        .card__tagline {
            @include typography.poppins--14px;

            line-height: 20px;
            letter-spacing: 2px;

            color: #645c55;

            text-transform: uppercase;
        }

        .card__img {
            opacity: 0.78;

            transition:
                transform 0.3s ease-in-out,
                opacity 0.3s ease-in-out;
            will-change: transform, opacity;

            transform: translateZ(0);
            backface-visibility: hidden;
        }

        transition: transform 0.3s ease-in-out;
        will-change: transform;

        transform: translateZ(0);
        backface-visibility: hidden;

        @media (hover: hover) {
            &:hover {
                .card__content {
                    opacity: 1;
                }

                .card__img {
                    transform: scale(1.0125);
                    opacity: 1;
                }
            }
        }
    }
}
