<footer id="footer" class="footer" data-aos="fade-up">
    <div class="wrapper wrapper--footer">
        <div class="footer__text-block">
            <a class="logo logo--footer" href="#header">
                <svg class="logo__img" width="256" height="22" aria-label="Company 'Wishbone + Partners' logo">
                    <use href="@icons/common/logo.svg"></use>
                </svg>
            </a>
            <div class="footer__copyright-block">
                <p class="footer__pg">Powered by Webflow.</p>
                <p class="footer__pg">
                    All rights reserved Wishbone+Partners, Inc.
                    <a class="footer__link" href="#!">Licensing.</a>
                </p>
            </div>
        </div>
        <div class="footer__social-icons-block">
            <a class="footer__link footer__link--icon" href="https://x.com/">
                <svg class="footer__icon" width="24" height="24" aria-label="Twitter">
                    <use href="@icons/footer/twitter.svg"></use>
                </svg>
            </a>
            <a class="footer__link footer__link--icon" href="https://www.instagram.com/">
                <svg class="footer__icon" width="24" height="24" aria-label="Instagram">
                    <use href="@icons/footer/instagram.svg"></use>
                </svg>
            </a>
            <a class="footer__link footer__link--icon" href="https://www.facebook.com/">
                <svg class="footer__icon" width="24" height="24" aria-label="Facebook">
                    <use href="@icons/footer/facebook.svg"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>
