<footer id="footer" class="footer" data-aos="fade-up">
    <div class="wrapper wrapper--footer">
        <div class="footer__text-block">
            <a class="logo logo--footer" href="#header">
                <svg class="logo__img" width="256" height="22" aria-label="{{ common.footer.aria.logo }}">
                    <use href="@icons/common/logo.svg"></use>
                </svg>
            </a>
            <div class="footer__copyright-block">
                <p class="footer__pg">{{ common.footer.copyright.powered_by }}</p>
                <p class="footer__pg">
                    {{ common.footer.copyright.all_rights_reserved }}
                    <a class="footer__link" href="#!">{{ common.footer.copyright.licensing }}</a>
                </p>
            </div>
        </div>
        <div class="footer__social-icons-block">
            <a class="footer__link footer__link--icon" href="https://x.com/">
                <svg class="footer__icon" width="24" height="24" aria-label="{{ common.footer.aria.social.twitter }}">
                    <use href="@icons/footer/twitter.svg"></use>
                </svg>
            </a>
            <a class="footer__link footer__link--icon" href="https://www.instagram.com/">
                <svg class="footer__icon" width="24" height="24" aria-label="{{ common.footer.aria.social.instagram }}">
                    <use href="@icons/footer/instagram.svg"></use>
                </svg>
            </a>
            <a class="footer__link footer__link--icon" href="https://www.facebook.com/">
                <svg class="footer__icon" width="24" height="24" aria-label="{{ common.footer.aria.social.facebook }}">
                    <use href="@icons/footer/facebook.svg"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>
