.featured-projects {
    background-color: #f7f7f7;

    &__content {
        display: flex;
        flex-direction: column;

        align-items: center;

        // row-gap: 50px;
        row-gap: clamp(24px, 0.06 * 100vw - 22.222px, 50px);
    }

    &__projects-block {
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: repeat(3, minmax(144px, 1fr));

        gap: 16px;

        // columns: 3 375px;
        // column-gap: 16px;
    }

    &__expanded-block {
        display: flex;
        flex-direction: column;

        align-items: center;

        // row-gap: 50px;
        row-gap: clamp(24px, 0.06 * 100vw - 22.222px, 50px);

        // width: 100%;

        // columns: 3 375px;
        // column-gap: 16px;
    }
}

//? --- BOOTSTRAP SMALL ---
//? -----------------------
@media (max-width: 576px) {
    .featured-projects {
        // background-color: #f7f7f7;

        &__content {
            // display: flex;
            // flex-direction: column;

            // align-items: center;

            // row-gap: 50px;
        }

        &__projects-block {
            // width: 100%;
            // height: auto;

            // display: grid;
            grid-template-columns: 1fr;
            justify-items: center;

            // gap: 16px;

            // columns: 3 375px;
            // column-gap: 16px;
        }

        &__expanded-block {
            // display: flex;
            // flex-direction: column;

            // align-items: center;
            // row-gap: 50px;

            // width: 100%;

            // columns: 3 375px;
            // column-gap: 16px;
        }
    }
}
