@use '../base/typography' as *;

.footer {
    background-color: #f7f7f7;

    &__text-block {
        display: flex;
        flex-direction: column;

        // row-gap: 20px;
        row-gap: calc(20 / 14 * 1em);

        @include poppins--14px;

        line-height: calc(20 / 14 * 1em);
        letter-spacing: 0;
        color: #645c55;
    }

    &__link {
        -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
        -webkit-tap-highlight-color: transparent;

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }

        @media (hover: none) {
            &:active {
                display: inline-block;
                transform: scale(1.025);
                will-change: transform;
                transition: transform 100ms ease-out;
            }
        }

        &--icon {
            display: block;
            line-height: 0;
        }
    }

    &__social-icons-block {
        display: flex;
        align-items: center;

        column-gap: 20px; // stylelint-disable-line
    }

    // &__copyright-block {
    //     // * NOTHING
    // }

    // &__pg {
    //     // * NOTHING
    // }

    &__icon {
        aspect-ratio: 1 / 1;
        transition: transform 300ms ease-in-out;

        // ? --- TABLET ---
        // ? --------------
        @media (max-width: 768px) {
            transition: transform 100ms ease-out;
        }

        will-change: transform;
        transform: translateZ(0);
        backface-visibility: hidden;

        @media (hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }

        &:active {
            transform: scale(1.05);
        }
    }
}

// ? --- TABLET ---
// ? --------------
@media (max-width: 768px) {
    .footer {
        &__pg {
            text-align: center;
        }

        &__social-icons-block {
            justify-content: center;
        }
    }
}
