@use '../base/typography';

.hero {
    background-color: #ece7e4;

    &__text {
        // max-width: 600px;
        // max-width: 37.5em;

        width: clamp(320px, 41.666vw, 600px);

        // max-width: clamp(340px, 60vw, 600px);
        // min-width: 340px;

        // flex: 1 1 600px;

        display: flex;
        flex-direction: column;
        justify-content: center;

        // align-items: start;
        // align-items: center;

        // padding: 60px 50px 40px 40px;
        // padding: top right bottom left
        // padding: clamp(40px, 4vw, 60px) clamp(30px, 4vw, 50px) clamp(20px, 4vw, 40px) clamp(20px, 4vw, 40px);

        // clamp(20px, 2.777vw, 40px) + clamp(16px, 4.166vw, 60px) = clamp(36px, 6.943vw, 100px)
        padding: clamp(40px, 4.166vw, 60px) clamp(30px, 3.472vw, 50px) clamp(20px, 2.777vw, 40px)
            clamp(20px, 2.777vw, 40px);
    }

    &__pg {
        @include typography.poppins--16px;

        // font-size: clamp(12px, 5vw, 16px);

        // line-height: 24px;
        line-height: 1.5em;
        letter-spacing: 0;
        color: #403e3b;

        // margin-top: 18px;
        margin-top: clamp(16px, 1.25vw, 18px);
    }

    &__button-link {
        // margin-top: 30px;
        margin-top: clamp(15px, 2.083vw, 30px);
    }

    &__img-wrapper {
        position: relative;
        flex: 1 1 auto;
        overflow: hidden;

        // display: flex;
        // justify-content: end;
        // // align-items: center;

        // background-color: red;

        // width: 100%;
        // height: 100%;

        // min-width: 300px;
        // min-height: 570px;

        min-height: clamp(160px, 50vw, 720px);

        // min-height: 720px;
    }

    // todo  Доделать scale при уменьшении ширины окна
    &__img {
        // display: block;

        position: absolute;

        // inset: 0;
        right: 0;

        // top: 0;
        // right: 0;
        // bottom: 0;

        aspect-ratio: 1 / 1;
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: right center;

        // aspect-ratio: 1 / 1;

        // min-width: 0;
        // width: 100%;
        // max-width: max-content;

        // height: auto;
        // min-height: 100px;

        // max-height: max-content;
        // min-height: 100%;

        // min-width: 0;
        // min-width: 572px;
        // min-width: 596px;

        // object-fit: scale-down;

        image-rendering: optimizequality;
    }
}

// ? --- LAPTOP X ---
// ? --------------
// @media (max-width: 1440px) {
//     .hero {
//         &__img-wrapper {
//             // min-height: clamp(160px, 50vw, 720px);
//             // min-height: 720px;
//         }
//     }
// }

// ? --- LAPTOP ---
// ? --------------
// @media (max-width: 1024px) {
// }

// ? --- TABLET ---
// ? --------------
@media (width <= 768px) {
    .hero {
        padding-top: clamp(62.28px, 0.046 * 100vw + 42.802px, 78px);
    }
}

// ? --- MOBILE ---
// ? --------------
@media (width <= 425px) {
    .hero {
        &__text {
            width: 100%;

            // max-width: 100%;
            // min-width: 0;

            padding: clamp(40px, 4.166vw, 60px) clamp(16px, 3.472vw, 50px)
                clamp(20px, 2.777vw, 40px) clamp(16px, 2.777vw, 40px);

            // padding: clamp(40px, 4.166vw, 60px) clamp(16px, 3.472vw, 50px) clamp(20px, 2.777vw, 40px) clamp(8px, 2.777vw, 40px);
        }

        &__pg {
        }

        &__button-link {
        }

        &__img-wrapper {
            width: 100%;
            aspect-ratio: 1 / 1;

            // display: none;
        }

        &__img {
            inset: 0;
            height: auto;
            width: 100%;
        }
    }
}
