#the-swirling-staircase {
    display: flex;
    align-items: center;
    height: 600px;
    background: url('../../assets/images/the_swirling_staircase/background.webp');
    background-position: clamp(62%, -0.012 * 100vw + 67.025%, 50%) center;
    background-size: cover;
    background-repeat: no-repeat;
}
