/** ========================================================================
 **                            FONT WEIGHTS
 *======================================================================== **/

$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;
$extrablack: 950;

/** ========================================================================
 **                            BREAKPOINTS
 *======================================================================== **/

$mobile: 425px;
$tablet-bs: 576px; // bootstrap
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
