@use "../base/colors";

body {
    width: 100%;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;
}

/* Вместо этого — инвертируем логику */
body:has(.navigation__mobile-menu-container:target) {
    overflow: hidden;
    position: fixed;
}
