@use "../base/colors";

body {
    width: 100%;
    min-height: 100vh;

    overflow-x: hidden;
    overflow-y: auto;
}

//todo Develop JS variant for scroll block
body:has(#mobile-navigation:target) {
    overflow: hidden;
    position: fixed;
}
