@use '../base/colors' as *;

body {
    width: 100%;
    min-height: 100vh;

    overflow-x: hidden; // stylelint-disable-line
    overflow-y: auto; // stylelint-disable-line
}

// todo Develop JS variant for scroll block
// body:has(#mobile-navigation:target) {
//     overflow: hidden;
//     position: fixed;
// }

// ? --- TABLET ---
// ? --------------
@media (max-width: 768px) {
    @supports selector(body:has(#menu-toggle:checked)) {
        // stylelint-disable-next-line
        body:has(#menu-toggle:checked) {
            overflow: hidden; // stylelint-disable-line
        }
    }

    // #menu-toggle:checked ~ #mobile-navigation {
    //     transform: translateX(0);
    //     visibility: visible;
    // }
}
