@use '../base/mixins' as *;

// @mixin base-wrapper {
//     margin: 0 auto;
//     height: auto;
//     width: auto;
// }

.wrapper {
    margin: 0 auto;

    &--header {
        max-width: 1200px;
        display: flex;

        // column-gap: 32px;
        // column-gap: clamp(16px, 3.333vw, 40px);
        @include fluid-column-gap(16px, 3.333vw, 40px);

        justify-content: space-between;

        // padding: 20px;
        // padding: clamp(16px, 0.012 * 100vw + 11.044px, 20px);
        @include fluid-padding(16px, calc(0.012 * 100vw + 11.044px), 20px);
    }

    &--hero {
        max-width: 1440px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        // align-items: center;

        // * --- SAFE
        // padding: 0 0 0 clamp(16px, 4.166vw, 60px);
        padding: 0;

        @include fluid-padding-left(16px, 4.166vw, 60px);

        // padding: 0 0 0 clamp(8px, 4.166vw, 60px);
        // padding: 0 0 0 clamp(0.01px, 0.0024vw, 60px);
    }

    &--our-firm {
        max-width: 768px;
        display: flex;
        justify-content: center;
        align-items: stretch;

        // column-gap: clamp(28px, 9.166vw, 132px);
        @include fluid-column-gap(28px, 9.166vw, 132px);

        // gap: clamp(28px, 9.166vw, 132px);

        // * --- SAFE
        // padding: clamp(40px, 6.944vw, 100px) 0;
        padding: 0;

        @include fluid-padding-top(40px, 6.944vw, 100px);
        @include fluid-padding-bottom(40px, 6.944vw, 100px);
    }

    &--reeding-house-and-marble-staircase {
        max-width: 1440px;
        width: 100%;
        height: auto;
        display: flex;

        // flex-direction: column;

        justify-content: flex-end;
        align-items: center;

        // * --- SAFE
        // padding: clamp(0px, -1.166 * 100vw + 895.627px, 400px)
        //     clamp(16px, calc(0.128 * 100vw - 38.519px), 60px) 0;

        @include fluid-padding-top(0, calc(-1.166 * 100vw + 895.627px), 400px);
        @include fluid-padding-left(16px, calc(0.128 * 100vw - 38.519px), 60px);
        @include fluid-padding-right(16px, calc(0.128 * 100vw - 38.519px), 60px);

        padding-bottom: 0;
    }

    &--swirling-staircase {
        max-width: 1440px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        // padding: 0 0 0 60px;
        // padding: 266px 60px;

        // * --- SAFE
        // padding: clamp(0px, -1.166 * 100vw + 895.627px, 400px)
        //     clamp(16px, calc(0.128 * 100vw - 38.519px), 60px) 0
        //     calc(clamp(16px, calc(0.128 * 100vw - 38.519px), 60px) + 22px);

        @include fluid-padding-top(0, calc(-1.166 * 100vw + 895.627px), 400px);
        @include fluid-padding-left(16px, calc(0.128 * 100vw - 38.519px), 60px, 22px);
        @include fluid-padding-right(16px, calc(0.128 * 100vw - 38.519px), 60px);

        padding-bottom: 0;
    }

    &--our-process {
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // row-gap: clamp(20px, 0.037 * 100vw - 4.444px, 40px);
        row-gap: 40px;

        // row-gap: clamp(36px, 0.012 * 100vw + 31.044px, 40px);

        // * --- SAFE
        // padding: clamp(40px, 100 / 1440 * 100vw, 100px) clamp(40px, 136 / 1440 * 100vw, 136px);

        @include fluid-padding-vertical(40px, calc(100 / 1440 * 100vw), 100px);
        @include fluid-padding-horizontal(40px, calc(136 / 1440 * 100vw), 136px);
    }

    &--prior-clients {
        max-width: 1168px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // * --- SAFE
        // padding: clamp(40px, 6.944vw, 100px) clamp(0px, -0.221 * 100vw + 317.647px, 60px);

        @include fluid-padding-vertical(40px, 6.944vw, 100px);
        @include fluid-padding-horizontal(0, calc(-0.221 * 100vw + 317.647px), 60px);
    }

    &--get-in-touch {
        max-width: 1168px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // gap: clamp(18px, 3.125vw, 32px);
        @include fluid-gap(18px, 3.125vw, 32px);

        // padding: clamp(40px, 6.944vw, 100px) clamp(0px, -0.221 * 100vw + 317.647px, 60px);
        @include fluid-padding-vertical(40px, 6.944vw, 100px);
        @include fluid-padding-horizontal(0, calc(-0.221 * 100vw + 317.647px), 60px);
    }

    &--featured-projects {
        // max-width: 1200px;

        // display: flex;
        // flex-direction: column;

        // row-gap: 42px;

        // // padding: 0 0 0 60px;
        // padding: 120px 16px 100px 16px;

        max-width: 1440px;
        display: flex;
        flex-direction: column;

        // row-gap: clamp(16px, 3.333vw, 42px);
        row-gap: 42px;

        // justify-content: space-between;

        // padding: clamp(40px, 120 / 1440 * 100vw, 120px) clamp(40px, 136 / 1440 * 100vw, 136px)
        //     clamp(40px, 100 / 1440 * 100vw, 100px);
        @include fluid-padding-top(40px, calc(120 / 1440 * 100vw), 120px);
        @include fluid-padding-bottom(40px, calc(100 / 1440 * 100vw), 100px);
        @include fluid-padding-horizontal(40px, calc(136 / 1440 * 100vw), 136px);
    }

    &--meet-our-team {
        max-width: 1168px;

        // max-width: clamp(720px, 81.111vw, 1168px);

        display: flex;

        // gap: clamp(18px, 3.125vw, 32px);
        @include fluid-gap(18px, 3.125vw, 32px);

        justify-content: space-between;
        align-items: flex-start;

        // padding: clamp(40px, 6.944vw, 100px) clamp(0px, -22.1vw + 317.647px, 60px);
        @include fluid-padding-vertical(40px, 6.944vw, 100px);
        @include fluid-padding-horizontal(0, calc(-22.1vw + 317.647px), 60px);
    }

    &--footer {
        max-width: 1168px;
        display: flex;
        justify-content: space-between;
        align-items: end;

        // padding: clamp(40px, 5vw, 60px) clamp(0px, -0.221 * 100vw + 317.647px, 60px);
        @include fluid-padding-vertical(40px, 5vw, 60px);
        @include fluid-padding-horizontal(0, calc(-0.221 * 100vw + 317.647px), 60px);
    }

    // &--1168px {
    //     max-width: 1168px;
    // }

    // &--1440px {
    //     max-width: 1440px;
    // }
}

// ? --- LAPTOP ---
// ? --------------
@media (max-width: 1024px) {
    .wrapper {
        &--our-firm {
            flex-direction: column;

            // justify-content: stretch;
            align-items: start;

            // row-gap: clamp(12px, 2.734vw, 28px);
            @include fluid-row-gap(12px, 2.734vw, 28px);

            // padding: clamp(40px, 6.944vw, 100px) clamp(36px, 6.943vw, 100px);
            @include fluid-padding-vertical(40px, 6.944vw, 100px);
            @include fluid-padding-horizontal(36px, 6.943vw, 100px);

            // max-width: 100%;
            // padding: clamp(16px, 4vw, 100px) clamp(16px, 4vw, 80px);
        }

        &--prior-clients {
            flex-direction: column;
            row-gap: 40px;
        }

        &--meet-our-team {
            max-width: 1168px;

            // display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;

            // padding: clamp(40px, 6.944vw, 100px) clamp(0px, -0.221 * 100vw + 317.647px, 60px);
            @include fluid-padding-vertical(40px, 6.944vw, 100px);
            @include fluid-padding-horizontal(0, calc(-0.221 * 100vw + 317.647px), 60px);
        }
    }
}

// ? --- TABLET ---
// ? --------------
@media (max-width: 768px) {
    .wrapper {
        &--our-process {
            // row-gap: 40px;

            // padding: clamp(40px, 6.944vw, 100px) clamp(36px, 0.083 * 100vw + 0.775px, 100px);
            // padding: clamp(40px, 6.944vw, 100px) 16px;

            padding-left: 16px;
            padding-right: 16px;
        }

        &--featured-projects {
            // padding-left: clamp(16px, 0.128 * 100vw - 38.519px, 60px);
            // padding-right: clamp(16px, 0.128 * 100vw - 38.519px, 60px);

            @include fluid-padding-left(16px, calc(0.128 * 100vw - 38.519px), 60px);
            @include fluid-padding-right(16px, calc(0.128 * 100vw - 38.519px), 60px);
        }

        &--prior-clients {
            // padding: clamp(40px, 6.944vw, 100px) clamp(16px, 0.128 * 100vw - 38.519px, 60px);
            @include fluid-padding-vertical(40px, 6.944vw, 100px);
            @include fluid-padding-horizontal(16px, calc(0.128 * 100vw - 38.519px), 60px);
        }

        &--get-in-touch {
            // padding: clamp(40px, 6.944vw, 100px) clamp(16px, 0.128 * 100vw - 38.519px, 60px);
            @include fluid-padding-vertical(40px, 6.944vw, 100px);
            @include fluid-padding-horizontal(16px, calc(0.128 * 100vw - 38.519px), 60px);
        }

        &--meet-our-team {
            // padding: clamp(40px, 6.944vw, 100px) clamp(16px, 0.128 * 100vw - 38.519px, 60px);
            @include fluid-padding-vertical(40px, 6.944vw, 100px);
            @include fluid-padding-horizontal(16px, calc(0.128 * 100vw - 38.519px), 60px);
        }

        &--footer {
            flex-direction: column;
            align-items: stretch;

            // gap: clamp(24px, 32 / 768 * 100vw, 32px);
            @include fluid-gap(24px, calc(32 / 768 * 100vw), 32px);

            // padding: clamp(40px, 5vw, 60px) clamp(16px, 0.128 * 100vw - 38.519px, 60px);
            @include fluid-padding-vertical(40px, 5vw, 60px);
            @include fluid-padding-horizontal(16px, calc(0.128 * 100vw - 38.519px), 60px);
        }
    }
}

// ? --- BOOTSTRAP SMALL ---
// ? -----------------------
@media (max-width: 576px) {
    .wrapper {
        &--get-in-touch {
            flex-direction: column;
            align-items: center;
        }
    }
}

// ? --- MOBILE ---
// ? --------------
@media (max-width: 425px) {
    .wrapper {
        // &--header {
        //     column-gap: 16px;
        // }

        &--hero {
            padding: 0;

            // padding: clamp(0.01px, 0.0007vw, 16px);
            flex-wrap: wrap;
        }

        &--our-firm {
            // padding: clamp(40px, 6.944vw, 100px) 16px;
            @include fluid-padding-vertical(40px, 6.944vw, 100px);
            padding-left: 16px;
            padding-right: 16px;
        }

        &--featured-projects {
            padding-left: 16px;
            padding-right: 16px;
        }

        // &--meet-our-team {
        //     justify-content: start;
        // }
    }
}
