/**========================================================================
 **                            WRAPPER STYLES
 *========================================================================**/

// @mixin base-wrapper {
//     margin: 0 auto;
//     height: auto;
//     width: auto;
// }

.wrapper {
    margin: 0 auto;

    &--header {
        max-width: 1200px;

        display: flex;
        // column-gap: 32px;
        column-gap: clamp(16px, 3.333vw, 40px);
        justify-content: space-between;

        // padding: 20px;
        padding: clamp(16px, 3.765vw, 20px);
    }

    &--hero {
        max-width: 1440px;

        display: flex;

        align-items: stretch;
        justify-content: space-between;
        // align-items: center;

        padding: 0 0 0 clamp(16px, 4.166vw, 60px);
        // padding: 0 0 0 clamp(8px, 4.166vw, 60px);
        // padding: 0 0 0 clamp(0.01px, 0.0024vw, 60px);
    }

    &--our-firm {
        max-width: 768px;

        display: flex;
        justify-content: center;
        align-items: stretch;

        column-gap: clamp(28px, 9.166vw, 132px);
        // gap: clamp(28px, 9.166vw, 132px);

        // padding: 0 0 0 60px;
        // padding: 100px 0;
        padding: clamp(40px, 6.944vw, 100px) 0;
    }

    &--reeding-house-and-marble-staircase {
        max-width: 1440px;

        width: 100%;
        height: auto;

        display: flex;
        // flex-direction: column;

        justify-content: flex-end;
        align-items: center;

        // padding: 0 0 0 60px;
        // padding: 266px 60px;
        // padding: clamp(0px, calc(-0.394 * 100vw + 567.488px), 400px) 60px 0 60px;

        // padding-top: clamp(0px, calc(-0.394 * 100vw + 567.488px), 400px);
        padding-top: clamp(0px, -1.166 * 100vw + 895.627px, 400px);
        padding-bottom: 0;

        padding-right: clamp(16px, calc(0.128 * 100vw - 38.519px), 60px);
        padding-left: clamp(16px, calc(0.128 * 100vw - 38.519px), 60px);
    }

    &--swirling-staircase {
        max-width: 1440px;

        width: 100%;
        height: auto;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        // padding: 0 0 0 60px;
        // padding: 266px 60px;

        // padding-top: clamp(0px, calc(-0.394 * 100vw + 567.488px), 400px);
        padding-top: clamp(0px, -1.166 * 100vw + 895.627px, 400px);
        padding-bottom: 0;

        padding-right: clamp(16px, calc(0.128 * 100vw - 38.519px), 60px);
        padding-left: calc(clamp(16px, calc(0.128 * 100vw - 38.519px), 60px) + 22px);
    }

    &--our-process {
        max-width: 1168px;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        // row-gap: clamp(20px, 0.037 * 100vw - 4.444px, 40px);
        row-gap: 40px;
        // row-gap: clamp(36px, 0.012 * 100vw + 31.044px, 40px);

        // padding: 0 0 0 60px;
        // padding: 100px 0;
        padding: clamp(40px, 6.944vw, 100px) 100px;
    }

    &--prior-clients {
        max-width: 1168px;

        display: flex;

        justify-content: space-between;
        align-items: center;

        // padding: 0 0 0 60px;
        // padding: 100px 144px 100px 100px;
        // padding: 100px 0;
        padding: clamp(40px, 6.944vw, 100px) clamp(0px, -0.221 * 100vw + 317.647px, 60px);
    }

    &--get-in-touch {
        max-width: 1168px;

        display: flex;

        justify-content: space-between;
        align-items: center;

        gap: clamp(18px, 3.125vw, 32px);

        // padding: 0 0 0 60px;
        // padding: 100px 0;
        padding: clamp(40px, 6.944vw, 100px) clamp(0px, -0.221 * 100vw + 317.647px, 60px);
    }

    &--featured-projects {
        max-width: 1200px;

        display: flex;
        flex-direction: column;

        row-gap: 42px;

        // padding: 0 0 0 60px;
        padding: 120px 16px 100px 16px;
    }

    &--meet-our-team {
        max-width: 1168px;
        // max-width: clamp(720px, 81.111vw, 1168px);

        display: flex;
        // gap: 32px;
        gap: clamp(18px, 3.125vw, 32px);

        justify-content: space-between;
        align-items: flex-start;

        padding: clamp(40px, 6.944vw, 100px) clamp(0px, -22.1vw + 317.647px, 60px);
    }

    &--footer {
        max-width: 1168px;

        display: flex;
        justify-content: space-between;
        align-items: end;

        padding: 60px 0;
    }

    // &--1168px {
    //     max-width: 1168px;
    // }

    // &--1440px {
    //     max-width: 1440px;
    // }
}

//? --- LAPTOP ---
//? --------------
@media (max-width: 1024px) {
    .wrapper {
        &--our-firm {
            flex-direction: column;

            // justify-content: stretch;
            align-items: start;

            row-gap: clamp(12px, 2.734vw, 28px);
            // padding: clamp(40px, 4vw, 100px) clamp(36px, 6.943vw, 100px);
            padding: clamp(40px, 6.944vw, 100px) clamp(36px, 6.943vw, 100px);
            // max-width: 100%;
            // padding: clamp(16px, 4vw, 100px) clamp(16px, 4vw, 80px);
        }

        &--prior-clients {
            flex-direction: column;
            row-gap: 40px;
        }

        &--meet-our-team {
            max-width: 1168px;

            // display: flex;
            flex-direction: column;

            justify-content: flex-start;
            align-items: stretch;

            padding: clamp(40px, 6.944vw, 100px) clamp(0px, -0.221 * 100vw + 317.647px, 60px);
        }
    }
}

//? --- TABLET ---
//? --------------
@media (max-width: 768px) {
    .wrapper {
        &--our-process {
            // row-gap: 40px;

            // padding: clamp(40px, 6.944vw, 100px) clamp(36px, 0.083 * 100vw + 0.775px, 100px);
            padding: clamp(40px, 6.944vw, 100px) 16px;
        }

        &--prior-clients {
            padding: clamp(40px, 6.944vw, 100px) clamp(16px, 0.128 * 100vw - 38.519px, 60px);
        }

        &--get-in-touch {
            padding: clamp(40px, 6.944vw, 100px) clamp(16px, 0.128 * 100vw - 38.519px, 60px);
        }

        &--meet-our-team {
            // padding: clamp(40px, 6.944vw, 100px) clamp(0px, -0.221 * 100vw + 317.647px, 60px);
            padding: clamp(40px, 6.944vw, 100px) clamp(16px, 0.128 * 100vw - 38.519px, 60px);
        }
    }
}

//? --- BOOTSTRAP SMALL ---
//? -----------------------
@media (max-width: 576px) {
    .wrapper {
        &--get-in-touch {
            flex-direction: column;
            align-items: center;
        }
    }
}

//? --- MOBILE ---
//? --------------
@media (max-width: 425px) {
    .wrapper {
        // &--header {
        //     column-gap: 16px;
        // }

        &--hero {
            padding: 0;
            // padding: clamp(0.01px, 0.0007vw, 16px);
            flex-wrap: wrap;
        }

        &--our-firm {
            // row-gap: clamp(16px, 4vw, 32px);
            padding: clamp(40px, 6.944vw, 100px) 16px;
        }

        // &--meet-our-team {
        //     justify-content: start;
        // }
    }
}
