#the-swirling-staircase {
    display: flex;
    align-items: center;
    height: 600px;
    background-image: url('@images/the_swirling_staircase/background.png');
    background-position: clamp(62%, -0.012 * 100vw + 67.025%, 50%) center;
    background-repeat: no-repeat;
    background-size: cover;
}
