<header id="header" class="header" data-aos="fade-down">
    <div class="wrapper wrapper--header">
        <a class="logo" href="#header">
            <img class="logo__img" src="./assets/icons/header/logo.svg" alt="Logo" />
        </a>
        <nav class="navigation">
            <div class="navigation__desktop">
                <ul class="navigation__menu">
                    <li class="navigation__menu-item">
                        <a href="#!" class="navigation__menu-link">Projects</a>
                    </li>
                    <li class="navigation__menu-item">
                        <a href="#!" class="navigation__menu-link">About</a>
                    </li>
                    <li class="navigation__menu-item">
                        <a href="#!" class="navigation__menu-link">News</a>
                    </li>
                    <li class="navigation__menu-item">
                        <a href="#!" class="navigation__menu-link">Team</a>
                    </li>
                    <li class="navigation__menu-item">
                        <a href="#!" class="navigation__menu-link">Contact</a>
                    </li>
                </ul>
                <a href="#!" class="navigation__button-link button-link">Get template</a>
            </div>
            <div class="navigation__mobile">
                <input type="checkbox" id="menu-toggle" hidden />
                <label for="menu-toggle" class="hamburger-menu-btn">
                    <img class="hamburger-menu-btn__img" src="./assets/icons/header/hamburger.svg" alt="Hamburger menu" />
                </label>
                <div class="navigation__mobile-menu-container" id="mobile-navigation">
                    <div class="navigation__mobile-menu-header">
                        <a class="logo" href="#header">
                            <img class="logo__img" src="./assets/icons/header/logo.svg" alt="Logo" />
                        </a>
                        <label for="menu-toggle" class="close-menu-btn">
                            <img class="close-menu-btn__img" src="./assets/icons/header/close.svg" alt="Close menu" />
                        </label>
                    </div>
                    <div class="navigation__mobile-menu-content">
                        <ul class="navigation__menu">
                            <li class="navigation__menu-item">
                                <a href="#!" class="navigation__menu-link">Projects</a>
                            </li>
                            <li class="navigation__menu-item navigation__menu-item--dot">&middot;</li>
                            <li class="navigation__menu-item">
                                <a href="#!" class="navigation__menu-link">About</a>
                            </li>
                            <li class="navigation__menu-item navigation__menu-item--dot">&middot;</li>
                            <li class="navigation__menu-item">
                                <a href="#!" class="navigation__menu-link">News</a>
                            </li>
                            <li class="navigation__menu-item navigation__menu-item--dot">&middot;</li>
                            <li class="navigation__menu-item">
                                <a href="#!" class="navigation__menu-link">Team</a>
                            </li>
                            <li class="navigation__menu-item navigation__menu-item--dot">&middot;</li>
                            <li class="navigation__menu-item">
                                <a href="#!" class="navigation__menu-link">Contact</a>
                            </li>
                        </ul>
                        <a href="#!" class="navigation__button-link button-link button-link--mobile">Get template</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
