<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--* For old Internet Explorer --->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--* BLOCK APPLE DETECTORS --->
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no" />

    <!--* Page title --->
    <title>@@title</title>

    <!--* 1. Other CSS code imports --->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!--* 2. My CSS code imports --->
    <link rel="stylesheet" href="./css/min/main.css" />

    <script src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>
