@use '../../abstracts/colors' as *;

body {
    background-color: #fff;

    // * used from css reset
    // width: 100%;
    // min-height: 100vh;

    overflow-x: hidden; // stylelint-disable-line
    overflow-y: auto; // stylelint-disable-line
}

// todo Develop JS variant for scroll block
// body:has(#mobile-navigation:target) {
//     overflow: hidden;
//     position: fixed;
// }

// ? --- TABLET (860px) --- RUS
// ? --------------------------
@media (max-width: 860px) {
    @supports selector(.page:has(#menu-toggle:checked)) {
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
        .page--ru:has(#menu-toggle:checked) {
            overflow: hidden; // stylelint-disable-line
        }
    }
}

// ? --- TABLET ---
// ? --------------
@media (max-width: 768px) {
    @supports selector(.page:has(#menu-toggle:checked)) {
        // stylelint-disable-next-line
        .page:not(.page--ru):has(#menu-toggle:checked) {
            overflow: hidden; // stylelint-disable-line
        }
    }

    // #menu-toggle:checked ~ #mobile-navigation {
    //     transform: translateX(0);
    //     visibility: visible;
    // }
}
